<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Agregar Coche</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="list-circle-outline" (click)="gotoList()"></ion-icon>
        Lista de Coches
      </ion-tab-button>
      <ion-tab-button tab="radio">
        <ion-icon name="add-circle-outline" (click)="gotoAdd()"></ion-icon>
        Agregar Coche
      </ion-tab-button>
      <ion-tab-button tab="radio">
        <ion-icon name="home-outline" (click)="gotoHome()"></ion-icon>
        Volver al inicio
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">coche-add</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="ionicForm" (ngSubmit)="editCoche()" novalidate class="ion-padding form">
    <ion-item lines="full">
      <ion-label position="floating">Marca</ion-label>
      <ion-input formControlName="marca" type="text" aria-label="Marca" maxlength="255"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Modelo</ion-label>
      <ion-input formControlName="modelo" type="text" aria-label="Modelo" maxlength="255"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Year</ion-label>
      <ion-input formControlName="year" type="text" aria-label="Year" maxlength="255"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Potencia</ion-label>
      <ion-input formControlName="potencia" type="text" aria-label="Potencia" maxlength="255"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Numero de Chasis</ion-label>
      <ion-input formControlName="numChasis" type="text" aria-label="Num_Chasis" maxlength="255"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Escuderia</ion-label>
      <ion-input formControlName="escuderia" type="text" aria-label="Escuderia_ID" maxlength="255"></ion-input>
    </ion-item>
      
    <ion-button type="submit" color="danger" expand="full" class="add-button">Editar Coche</ion-button>
  </form>
</ion-content>
